/CodeExamples/DomainCenteredArchitectureExamples/UbiquitousLanguageExamples/obj/
/CodeExamples/DomainCenteredArchitectureExamples/UbiquitousLanguageExamples/bin/
/CodeExamples/DomainCenteredArchitectureExamples/.idea/
