/CodeExamples/DomainCenteredArchitectureExamples/UbiquitousLanguageExamples/obj/
/CodeExamples/DomainCenteredArchitectureExamples/UbiquitousLanguageExamples/bin/
/CodeExamples/DomainCenteredArchitectureExamples/.idea/
/CodeExamples/DomainCenteredArchitectureExamples/ValueObjectExamples/obj/
/CodeExamples/DomainCenteredArchitectureExamples/ValueObjectExamples/bin/
/CodeExamples/DomainCenteredArchitectureExamples/UbiquitousLanguageExamples/obj/
/CodeExamples/DomainCenteredArchitectureExamples/UbiquitousLanguageExamples/bin/
